### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
totalplayers = purchase_data['SN'].nunique()
pd.DataFrame ({ "Total Players": [totalplayers]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
numberuniqueitems = purchase_data['Item ID'].nunique()
avgprice = purchase_data['Price'].mean()
numberpurchases = purchase_data['Purchase ID'].count()
totalrevenue = purchase_data['Price'].sum()

summary_df = pd.DataFrame({
    "Number of Unique Items": [numberuniqueitems],
    "Average Price": [avgprice],
    "Number of Purchases": [numberpurchases],
    "Total Revenue": [totalrevenue]})

summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

summary_df[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#create DataFrame containing user counts by gender
gender_demo = pd.DataFrame(purchase_data.groupby('Gender').SN.nunique())

#rename 'SN' column to 'Player Count'
gender_demo = gender_demo.rename(index=str, columns={'SN': 'Player Count'})

#add % in a new column
gender_demo['Percentage of Players'] = gender_demo['Player Count'] / sum(gender_demo['Player Count'])*100

#format new column with %
gender_demo = gender_demo.style.format({'Percentage of Players': '{:.2f}%'})
gender_demo


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:

# Group by Gender
gender = purchase_data.groupby(["Gender"])

# Data Manipulation
purch_count = gender["SN"].count()
purch_price = gender["Price"].mean()
purch_value = gender["Price"].sum()

# Create new DataFrame
Purch_Anal_Gen = pd.DataFrame({"Purchase Count": purch_count,
                              "Average Purchase Price": purch_price,
                              "Avg Total Purchase Value": purch_value})
# DataFrame formatting
Purch_Anal_Gen["Average Purchase Price"] = Purch_Anal_Gen["Average Purchase Price"].map("${:.2f}".format)
Purch_Anal_Gen["Total Purchase Value"] = Purch_Anal_Gen["Avg Total Purchase Value"].map("${:.2f}".format)
Purch_Anal_Gen = Purch_Anal_Gen[["Purchase Count", "Average Purchase Price", "Avg Total Purchase Value"]]
Purch_Anal_Gen

,Purchase Count,Average Purchase Price,Avg Total Purchase Value
Gender,,,
Female,113,$3.20,361.94
Male,652,$3.02,1967.64
Other / Non-Disclosed,15,$3.35,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:

# Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data["Ages"] = pd.cut(purchase_data["Age"], bins, labels=ages)
grouped_age_df = purchase_data.groupby(["Ages"])

# Calculate the numbers and percentages by age group
agecount = grouped_age_df["SN"].nunique()
agepercentage = agecount / totalplayers * 100

# Create a summary data frame to hold the results
age_demo_df = pd.DataFrame({"Total Count": agecount,
                            "Percentage of Players": agepercentage})

# Optional: round the percentage column to two decimal points
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map("{:.2f}%".format)

# Display Age Demographics Table
age_demo_df[["Total Count", "Percentage of Players"]]

       Total Count Percentage of Players
Ages
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Bin the purchase_data data frame by age
# recycle above df

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
purch_count = gender["SN"].count()
purch_price = gender["Price"].mean()
purch_value = gender["Price"].sum()

# Create a summary data frame to hold the results
age_purch_df = pd.DataFrame({"Purchase Count": purch_count,
                              "Average Purchase Price": purch_price,
                              "Avg Total Purchase Value": purch_value})

# Optional: give the displayed data cleaner formatting
age_purch_df["Average Purchase Price"] = age_purch_df["Average Purchase Price"].map("${:.2f}".format)
age_purch_df["Total Purchase Value"] = age_purch_df["Avg Total Purchase Value"].map("${:.2f}".format)
age_purch_df = Purch_Anal_Gen[["Purchase Count", "Average Purchase Price", "Avg Total Purchase Value"]]
age_purch_df

,Purchase Count,Average Purchase Price,Avg Total Purchase Value
Gender,,,
Female,113,$3.20,361.94
Male,652,$3.02,1967.64
Other / Non-Disclosed,15,$3.35,50.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Run basic calculations to obtain the results in the table below
top_spenders_df = purchase_data.groupby(["SN"])

purch_count = top_spenders_df["SN"].count()
purch_price = top_spenders_df["Price"].mean()
purch_value = top_spenders_df["Price"].sum()

# Create a summary data frame to hold the results
spenders_df = pd.DataFrame({"Purchase Count": purch_count,
                              "Average Purchase Price": purch_price,
                              "Avg Total Purchase Value": purch_value})

# Sort the total purchase value column in descending order
spenders_df = spenders_df.sort_values(["Avg Total Purchase Value"], ascending=False)

# Optional: give the displayed data cleaner formatting
spenders_df["Average Purchase Price"] = spenders_df["Average Purchase Price"].map("${:,.2f}".format)
spenders_df["Avg Total Purchase Value"] = spenders_df["Avg Total Purchase Value"].map("${:,.2f}".format)

# Display a preview of the summary data frame
spenders_df[["Purchase Count", "Average Purchase Price", "Avg Total Purchase Value"]].head()

             Purchase Count Average Purchase Price Avg Total Purchase Value
SN
Lisosia93                 5                  $3.79                   $18.96
Idastidru52               4                  $3.86                   $15.45
Chamjask73                3                  $4.61                   $13.83
Iral74                    4                  $3.40                   $13.62
Iskadarya95               3                  $4.37                   $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Retrieve the Item ID, Item Name, and Item Price columns
items_df = purchase_data[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name. 
grouped_items_df = items_df.groupby(["Item ID", "Item Name"])
# Perform calculations to obtain purchase count, item price, and total purchase value
purch_count = grouped_items_df["Item ID"].count()
item_price = grouped_items_df["Price"].mean()
purch_value = grouped_items_df["Price"].sum()

# Create a summary data frame to hold the results
items_df = pd.DataFrame({"Purchase Count": purch_count,
                              "Item Price": item_price,
                              "Avg Total Purchase Value": purch_value})

# Sort the purchase count column in descending order
items_df = items_df.sort_values(["Purchase Count"], ascending=False)

# Optional: give the displayed data cleaner formatting
items_df["Item Price"] = items_df["Item Price"].map("${:,.2f}".format)
items_df["Avg Total Purchase Value"] = items_df["Avg Total Purchase Value"].map("${:,.2f}".format)

# Display a preview of the summary data frame
items_df[["Purchase Count", "Item Price", "Avg Total Purchase Value"]].head()

,,Purchase Count,Item Price,Avg Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
#Sort the above table by total purchase value in descending or 
profit_df = items_df.sort_values(["Avg Total Purchase Value"], ascending=False)
#Optional: give the displayed data cleaner formatting
profit_df.style.format({"ITEM PRICE": "${:.2f}", "TOTAL PURCHASE VALUE": "${:.2f}"})
#Display a preview of the data frame
profit_df

,,Purchase Count,Item Price,Avg Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36
...,...,...,...,...
106,Crying Steel Sickle,3,$3.41,$10.23
151,Severance,3,$3.40,$10.20
110,Suspension,7,$1.44,$10.08
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75